.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
  }

  &__button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: beige;
    font-size: 1.5rem;

    &:hover {
      background-color: rgb(240, 240, 155);
    }
  }

  &__input,
  &__button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }
}
